* {
    box-sizing: border-box;
    margin: 0;
}

.logo {
    height: 5em;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}


header {
    background-color: rgb(53, 143, 223);
    background-image: url(../img/pattern.png);
    background-size:50%;
    padding-top: 5em;
}


body{
    max-width: 1400px;
    margin: auto;
}

table{
    width: 100%;
    text-align: left;
}

.blue-background {
    background-color: rgb(0, 89, 255);
    color: white;
}

.double {
    width: 50%;
}

.azure-background {
    background-color: rgba(130, 245, 245, 0.733);
}

.scritta-grigia{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image {
    height:10em;
    padding: 0.3%;
}

.second-content{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


